.Button{
    width: 79px;
    height:79px;
    background:  #e0e0e7;
    margin-left:1px;
    margin-top:1px;
    float:left;
    border-color: black;
    text-align: center;
    line-height: 74px;   
    position:relative;top:58px;
    border: none;
    font-size: 1.7em;
    font-family: 'Courier New', Courier, monospace;
    
   

    
}

.Button:hover{
    cursor: pointer;
}

.Button:active {
    box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25);
}


.topButton{
    background: #CDCDCD;
    border-color: #777;
}


.rightButton{
    background: #F5923E;
    border-color:  #666;
    color: white;
}

.zero{
    width: 159px;
    
}
